.section-about {
  background-color: #f3f5f8;
  padding: 4.5rem 0;
  margin-top: 0;
  padding: 8rem 0 10rem 0;
}

@media screen and (min-width: 990px) {
  .section-about {
    margin-top: -25vh;
    padding: 25rem 0 15rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (min-width: 780px) {
  .position-pic:first-child {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 6rem;
  }

  .position-pic:last-child {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 20rem;
  }
}

@media (min-width: 660px) {
  .position-pic-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 780px) and (max-width: 990px) {
  .section-about {
    padding: 8rem 0 45rem 0;
  }
}
