.section-features {
  display: grid;
  align-items: center;

  transform: skewY(-7deg);
  margin-top: -8rem;
  background-size: cover;
  height: 60rem;
  z-index: -10;
  /* margin-top: 10rem; */
}

.section-features > * {
  transform: skewY(7deg);
}

.section-features--box {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 6.5rem 4.5rem;
  row-gap: 1.5rem;
}
