.section-tours {
  background-color: #f3f5f8;
  height: 60rem;
  margin-top: -15vh;
}
.card__box {
  background-image: linear-gradient(#fff 70%, #eef3fc);
  margin: 1.5rem;
  border: none;
  border-radius: 0;
  box-shadow: 0 5px 20px rgb(16 29 45 / 80%);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 5px 30px rgb(16 29 45 / 60%);
}
.card-text {
  font-size: 1.5rem;
}

.section-features--box {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 6.5rem;
  row-gap: 1.5rem;
}
