.section-tours {
  background-color: #f3f5f8;
  margin-top: -9rem;
}

.section-tours.d-grid {
  padding: 20rem 0;
}

.section-tours > .d-grid > .row {
  margin-top: 23rem;
}

.section__tours--box {
  max-width: 114rem;
  margin: 0 auto;

  justify-content: center;
  /* padding: 6.5rem 4.5rem; */
  row-gap: 1.5rem;
}
