.card {
  background-color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0;
  height: auto;
  max-width: 100%;
  transition: transform 0.3s;
}

@media screen and (min-width: 990px) {
  .card {
    background-image: linear-gradient(#fff 70%, #eef3fc);
    box-shadow: 0 4px 16px rgb(16 29 45 / 8%);
  }
}

@media (max-width: 780px) {
  .card {
    margin: 0 auto;
  }
}
