.img__left {
  position: absolute;
  top: 6rem;
  left: 16rem;
  margin: 5rem 0;
}

.img__right {
  position: absolute;
}

.img__box {
  padding: 1.5rem;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 16px rgb(16 29 45 / 8%);
}

@media screen and (max-width: 990px) {
  .img__left {
    position: absolute;
    top: 25rem;
    left: 32rem;
    margin: 0;
  }

  .img__right {
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
}
