.card__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.card__text {
  font-size: 1.5rem;
}

.card__box {
  background-image: linear-gradient(#fff 70%, #eef3fc);
  box-shadow: 0 5px 20px rgb(16 29 45 / 80%);
  transition: transform 0.3s;
}

.card__box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 5px 30px rgb(16 29 45 / 60%);
}

.card__icon {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background-color: #34d399;
  color: #fff;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem auto;
}
