.heading {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #fff;
  padding: 0;
}

h2 {
  font-size: 3.5rem;
  font-weight: 900;
  background-image: linear-gradient(to right, #34d399, #101d2d 55%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 10rem;
  text-align: center;
}

h3 {
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: -0.1px;
}

h4 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.1px;
}

.p_heading {
  font-size: 2rem;
  font-weight: 600;
}

h2,
h3,
h4,
.p_heading {
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

@media screen and (min-width: 780px) {
  h2,
  h3,
  h4,
  .p_heading {
    padding: 1.5rem 4rem;
  }
}

@media screen and (min-width: 990px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    padding: 0 0 8rem 0;
  }

  h3,
  h4,
  .p_heading {
    padding: 0 0 3rem 0;
  }
}
