@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

a:hover {
  color: #34d399;
}

.section-about {
  background-color: #f3f5f8;
  margin-top: -25vh;
  padding: 25rem 0 15rem 0;
}

.gallery__box {
  position: relative;
}

.mb__large {
  margin-bottom: 8rem;
}

.mr__medium {
  margin-right: 5.5rem;
}

.ml__medium {
  margin-left: 5.5rem;
}
