.header-box {
  background-image: url('../../assets/img/bg-1-small.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
}

@media (min-resolution: 192dpi) and (min-width: 600px) {
  .header-box {
    background-image: url('../../assets/img/bg-1.png');
  }
}

.header-title-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

@media screen and (min-width: 990px) {
  .header-box {
    margin: 0 3rem;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
}
